.task-card{
  margin-left: 10%;
  margin-bottom: 10px;
  text-align: justify;
  width: 80%;
}

.task-card-content{
  display: flex;
  width: 100%;

}

.task-card-inside{
  display: flex;
  width: 95%;
  flex-direction: column;
  font-family: 'Gochi Hand', cursive;
}

.task-card-delete{
  display: flex;
  width: 5%;
  align-items: center;
  justify-content: center;
}

.delete-button {
  width: 45px;
  height: 45px;
  font-size: 45px;
  padding: 5px;
}
