

<mat-drawer-container class="list-container" autosize>
    <mat-drawer #drawer class="list-sidenav" mode="side" (click)="drawer.toggle()">
      <app-list-list></app-list-list>
    </mat-drawer>
    <mat-drawer-content>

      <div class="container">
        <div class="menu-bar">
          <div class="home-button">
            <mat-icon routerLink="/lists">home</mat-icon>
          </div>
          <div (click)="drawer.toggle()" class="menu-button">
            <mat-icon>menu</mat-icon>
          </div>
        </div>

        <div class="list-sidenav-content">
          <router-outlet></router-outlet>
        </div>
      </div>

  </mat-drawer-content>
</mat-drawer-container>
